*, html {
    font-family: "Lato", "Veranda", "Segoe";
    padding: 0px;
    margin: 0px;
}

/* Flex / Layout */
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-container-column{
    display: flex;
    flex-direction: column;
}

.flex-container-center{
    justify-content: center;
    align-items: center;
}

/* Utilities */
.u-text-center{
    text-align: center;
}
.u-margin-y {
    margin: 25px 0 25px 0;
    display: block;
}
label {
    display: flex;
    justify-content: center;
}

button {
    outline: unset;
    border: unset;
    transition-duration: 0.4s;
    padding: 18px;
}
  button:hover {
    background-color: #75b9be; /* Green */
    color: white;
  }