*, html {
    padding: 0px;
    margin: 0px;
}

/* Flex / Layout */
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-container-column{
    display: flex;
    flex-direction: column;
}

.flex-container-center{
    justify-content: center;
    align-items: center;
}

/* Utilities */
.u-text-center{
    text-align: center;
}
.u-margin-y {
    margin: 25px 0 25px 0;
    display: block;
}


button {
    outline: unset;
    border: unset;
}